<script setup lang="ts">
const props = defineProps({
  gamble: {
    type: String,
    required: true,
  },
  result: {
    type: String,
  },
})
</script>

<template>
  <div class="slidev-layout layout-gamble">
    <div class="text">
      <slot />
    </div>
    <div class="code">
      <slot name="code" />
    </div>
    <div class="expected">
      Expected :
      <Red v-if="props.gamble === 'red'" />
      <Green v-if="props.gamble === 'green'" />
      <Refactor v-if="props.gamble === 'refactor'" />
    </div>
    <div class="gamble" v-if="props.result">
      <div class="command">
        Command :
        <br />
        <v-click>
          <Command>git-gamble --{{ props.gamble }}</Command>
        </v-click>
      </div>
      <div class="coin">
        <TossACoin :result="props.result" />
      </div>
    </div>
    <div class="result" v-if="props.result">
      Result :
      <v-click>
        <Committed v-if="props.result === 'committed'" />
        <Reverted v-if="props.result === 'reverted'" />
      </v-click>
    </div>
  </div>
</template>

<style scoped>
.layout-gamble {
  display: grid;
  grid-template-areas:
    "text expected"
    "text gamble"
    "code gamble"
    "code result"
  ;
  grid-template-rows: 1fr 1fr 4fr 1fr;
  grid-template-columns: 2fr 1fr;
  gap: 1.5em;

  .text {
    grid-area: text;
  }

  .code {
    grid-area: code;
  }

  .expected {
    grid-area: expected;
  }

  .result {
    grid-area: result;
  }

  .gamble {
    grid-area: gamble;

    display: grid;
    grid-template-areas:
      "command"
      "coin"
    ;
    align-content: center;

    .command {
      grid-area: command;
    }

    .coin {
      grid-area: coin;

      display: grid;
      justify-content: center;
    }
  }
}
</style>
