<link rel="alternate" type="application/ld+json" href="{{ path_to_root }}assets/git-gamble.json" />

<style>
    :root .menu-title {
        display: flex;
        justify-content: center;
        gap: 1ch;

        &::before {
            content: "";

            height: 100%;

            background-size: 90% 90%;
        }
    }

    :root .menu-title::before,
    .logo {
        aspect-ratio: 1;

        background-image: url({{ path_to_root }}assets/logo/git-gamble.svg);
        background-repeat: no-repeat;
        background-position: center;
    }

    .logo {
        background-size: contain;

        &.mini {
            height: 1lh;
            display: inline-block;
            vertical-align: middle;

            &.time-keeper {
                height: 1.3lh;
            }
        }

        &.big {
            height: 5lh;
        }

        &.front {
            background-image: url({{ path_to_root }}assets/logo/git-gamble.svg#front);
        }

        &.back {
            background-image: url({{ path_to_root }}assets/logo/git-gamble.svg#back);
        }

        &.time-keeper {
            background-image: url({{ path_to_root }}assets/logo/git-gamble.svg#time-keeper);
        }
    }
</style>

<link rel="preload" as="script" href="https://cdn.jsdelivr.net/npm/mermaid@10.9.0/dist/mermaid.min.js"
    integrity="sha256-stuqcu2FrjYCXDOytWFA5SoUE/r3nkp6gTglzNSlavU=" crossorigin="anonymous" />
<script type="module" src="{{ path_to_root }}assets/mermaid.mjs" async></script>

<meta name="robots" content="index, follow" />

<link rel="canonical" href="https://git-gamble.is-cool.dev/{{ rendered_path }}" />

<meta property="og:type" content="website" />
<meta property="og:url" content="https://git-gamble.is-cool.dev/{{ rendered_path }}" />
<meta property="og:title" content="git-gamble" />
<meta property="og:image" content="https://git-gamble.is-cool.dev/assets/preview.png" />
<meta property="og:image:type" content="image/png" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<meta property="og:language" content="en_GB" />
<meta property="og:locale" content="en_GB" />
<meta property="og:logo" content="https://git-gamble.is-cool.dev/assets/logo/git-gamble.png" />
<meta property="og:description"
    content="git-gamble is a tool that blends TDD + TCR to make sure to develop the right thing 😌, baby step by baby step 👶🦶" />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="git-gamble" />
<meta name="twitter:image" content="https://git-gamble.is-cool.dev/assets/preview.png" />
<meta name="twitter:description"
    content="git-gamble is a tool that blends TDD + TCR to make sure to develop the right thing 😌, baby step by baby step 👶🦶" />

<link rel="me" href="https://mamot.fr/@pinage404" />
<link rel="me" href="https://wheretofind.me/@pinage404" />
